{{ define "main" }}
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            <!-- Aquí se pueden agregar las etiquetas o un enlace a la página de tags -->
            <div class="tags">
                <h3>Tags</h3>
                {{ range .Site.Taxonomies.tag }}
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                {{ end }}
            </div>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
